@import "../mixins.scss";
@import "../variables.scss";

.about__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 40px;
  }
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include display-flex-column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 430px;
  }
}

.about__item {
  margin-bottom: 27px;
  padding-top: 52px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    padding-right: 40px;
  }
}

.about__item:last-child {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

  .about__item--eco {
    background: url("../../img/icon-feature-flower.svg") no-repeat 20px 0;
  }

  .about__item--style {
    background: url("../../img/icon-feature-money.svg") no-repeat 0 0;
  }

  .about__item--like {
    background: url("../../img/icon-feature-heart.svg") no-repeat 0 0;
  }

  .about__item--knit {
    background: url("../../img/icon-feature-ball.svg") no-repeat 0 0;
  }

  .about__item--support {
    background: url("../../img/icon-feature-rocket.svg") no-repeat 0 0;
  }

  .about__item--gift {
    background: url("../../img/icon-feature-gift.svg") no-repeat 0 0;
  }
