@import "../mixins.scss";
@import "../variables.scss";

.contacts__wrapper {
  padding: 52px 0 40px;
  background-color: $white;

  @media (min-width: $width-tablet) {
    padding: 59px 0 58px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    // IE некорректно отображает флекс-элементы при задании минимальной высоты
    //min-height: 656px;
    height: 656px;
    padding: 94px 100px 105px 275px;
  }
}

.contacts .contacts__wrapper {
  margin-top: -6px;

  @include tablet {
    margin-top: -10px;
  }

  @include desktop {
    margin-top: -38px;
  }
}

.contacts__title {
  margin: 0 30px 26px 27px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @include tablet {
    @include header-tablet;
    position: relative;
    margin: 0 50px 50px 46px;
  }

  @include desktop {
    @include header-desktop;
    width: 40%;
    margin: 70px 0 48px -4px;
  }

  &::after {
    display: none;
    position: absolute;

    @media (min-width: $width-tablet) {
      display: block;
      content: url("../../img/icon-flag.svg");
      position: absolute;
      top: -14px;
      right: 3px;
      width: 47px;
      height: 81px;
    }

    @media (min-width: $width-desktop) {
      top: -9px;
      left: -108px;
    }
  }
}

.contacts__table {
  display: table;
  width: auto;
  margin: 0 30px 7px 29px;

  //@include outline-block;
  @media (min-width: $width-tablet) {
    display: flex;
    margin: 0 50px 26px;
  }

  @media (min-width: $width-desktop) {
    display: table;
    order: 2;
    flex-basis: 40%;
    margin: 0;
    //margin-top: 48px;
  }
}

.contacts__row {
  display: table-row;

  @media (min-width: $width-tablet) {
    display: flex;
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    display: table-row;
    width: auto;
  }
}

.contacts__data {
  display: table-cell;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: $gray-dark;

  @include tablet {
    display: block;
    font-size: 17px;
  }

  @include desktop {
    display: table-cell;
  }

  &:first-child {
    width: 30%;

    @include tablet {
      width: auto;
      margin-right: 24px;
    }

    @include desktop {
      width: 26%;
      margin-right: 0;
    }
  }
}

.contacts__mail {
  padding-bottom: 3px;
  text-decoration: none;
  color: $gray-dark;
  border-bottom: 1px solid $turquoise;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-container {
  position: relative;
  width: 100%;
  margin-bottom: 39px;

  @include tablet {
    margin-bottom: 55px;
  }

  @include desktop {
    position: absolute;
    top: 93px;
    right: 100px;
    order: 1;
    //flex-basis: 60%;
    align-self: flex-end;
    flex-shrink: 0;
    width: 42%;
    margin: 0;
    background-image: url("../img/map-desktop@1x.png");
  }
}

.contacts__map {
  width: 100%;
}

.contacts__marker {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 64px;
  height: 104px;
  //margin-top: -30px;
  //margin-left: -25px;
  background: url("../img/icon-map-pin.svg") no-repeat center center;

  @include tablet {
    top: 30%;
    left: 42%;
  }
}

//.contacts__image {
//  width: 100%;
//}

.contacts__write {
  width: auto;
  margin: 0 30px;

  @media (min-width: $width-tablet) {
    width: 230px;
    margin: 0 auto;
    padding: 12px 0;
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    order: 3;
    margin: auto 0 0 0;
    flex-grow: 0;
    // IE не принимает автоматический маргин при неявной высоте, требуется бОльший, чем 55px
    //margin: 55px 0 0;
  }
}
