@import "../mixins.scss";
@import "../variables.scss";

.contacts__wrapper {
  @include viewport-center;
  padding: 52px 0 40px;
  background-color: $white;

  @include tablet {
    padding: 82px 0 58px;
  }

  @include desktop {
    position: relative;
    padding: 94px 50px 105px 225px;
    min-height: 656px;
  }
}

.contacts__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  @include tablet {
    align-items: stretch;
  }

  @include desktop {
    display: block;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &::before {
    display: none;

    @include tablet {
      position: absolute;
      top: -17px;
      right: 53px;
      display: block;
      content: url("../../img/icon-flag.svg");
      width: 47px;
      height: 81px;
    }

    @include desktop {
      top: 60px;
      left: -112px;
    }
  }
}

.contacts__title {
  margin: 0 30px 26px 27px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @include tablet {
    @include header-tablet;
    width: 100%;
    position: relative;
    margin: 0 50px 48px 46px;
  }

  @include desktop {
    float: left;

    @include header-desktop;
    width: 40%;
    margin: 70px 0 48px -4px;
  }
}

.contacts__table {
  display: table;
  width: auto;
  margin: 0 30px 7px 29px;

  @media (min-width: $width-tablet) {
    display: flex;
    margin: 0 50px 26px;
  }

  @media (min-width: $width-desktop) {
    float: left;
    display: table;
    order: 2;
    width: 40%;
    margin: 0 0 50px;
  }
}

.contacts__row {
  display: table-row;

  @media (min-width: $width-tablet) {
    display: flex;
    width: 50%;
  }

  @media (min-width: $width-desktop) {
    display: table-row;
    width: auto;
    padding-right: 50px;
  }
}

.contacts__data {
  display: table-cell;
  padding-bottom: 30px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: $gray-dark;

  @include tablet {
    display: block;
    font-size: 17px;
  }

  @include desktop {
    display: table-cell;
  }

  &:first-child {
    width: auto;
    white-space: nowrap;

    @include tablet {
      margin-right: 24px;
    }
  }

  &:last-child {
    padding-left: 30px;

    @include tablet {
      padding-left: 0;
    }

    @include desktop {
      padding-left: 20px;
      padding-right: 35px;
    }
  }
}

.contacts__mail {
  padding-bottom: 3px;
  text-decoration: none;
  color: $gray-dark;
  border-bottom: 1px solid $turquoise;

  &:hover {
    color: $turquoise-dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map-container {
  order: 1;
  position: relative;
  width: 100%;
  margin-bottom: 39px;

  @include tablet {
    margin-bottom: 55px;
  }

  @include desktop {
    float: right;
    width: 60%;
    margin: 0;
    background-image: url("../img/map-desktop@1x.png");
  }
}

.contacts__map {
  width: 100%;
}

.contacts__marker {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 64px;
  height: 104px;
  background: url("../img/icon-map-pin.svg") no-repeat center center;

  @include tablet {
    top: 30%;
    left: 42%;
  }
}

.contacts__write {
  order: 2;
  width: auto;
  margin: 0 auto;
  padding: 14px 53px;

  @media (min-width: $width-tablet) {
    width: 230px;
    margin: 0 auto;
    padding: 12px 0;
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    float: left;
    clear: left;
    margin: 0;
  }
}
