@import "../mixins.scss";
@import "../variables.scss";

.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}

.contacts__table {
  display: table;
}

.contacts__row {
  display: table-row;
}

.contacts__data {
  display: table-cell;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: $gray-dark;
}

.contacts__mail {
  text-decoration: none;
  color: $gray-dark;
  border-bottom: 1px solid $turquoise;
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-top: 40px;
  background: url("../../img/map-mobile@1x.jpg") no-repeat center center;
}

.contacts__marker {
  margin: 0 auto;
  width: 50px;
  height: 60px;
  background: url("../../img/icon-map-pin.svg") no-repeat center center;
}

.contacts__write {
  margin-top: 35px;
}
