@import "../mixins.scss";
@import "../variables.scss";

.page-footer {
  background-color: $gray-lightest;
}

.page-footer__wrapper {
  @include viewport-center;
  //background-color: $gray-lightest;
  padding: 0 30px;

  @include tablet {
    display: flex;
    padding: 53px 50px 51px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @include tablet {
    display: block;
    margin: -12px 78px 0 0;
  }
}

.page-footer__copyright-link {
  display: block;
  min-height: 27px;
  padding: 21px 0 22px;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: $black;

  @include tablet {
    padding: 0;
  }

  &::after {
    content: url("../img/logo-htmlacademy.svg");
    display: inline-block;
    vertical-align: middle;
    margin-left: 29px;
    margin-top: 3px;
  }

  &:active {
    color: transparentize($black, 0.7);
  }
}
