@import "../mixins.scss";
@import "../variables.scss";

.page-footer__wrapper {
  background-color: $gray-lightest;
  padding: 0 30px;

  @media (min-width: $width-tablet) {
    display: flex;
    padding: 33px 50px 28px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    padding: 33px 100px 25px;
  }
}

.wrapper--catalog.page-footer__wrapper,
.wrapper--form.page-footer__wrapper {
  @include desktop {
    padding: 30px 50px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $width-tablet) {
    display: block;
    margin-right: 78px;
  }
}

.page-footer__copyright-link {
  display: block;
  padding: 21px 0 22px;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: $black;

  &::after {
    content: url("../img/logo-htmlacademy.svg");
    display: inline-block;
    vertical-align: middle;
    margin-left: 29px;
    margin-top: 3px;
  }
}
