@import "../mixins.scss";
@import "../variables.scss";

.form__table {
  @include outline-block;
  @include display-flex-column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    // пошел эксперимент
    height: 200px;
    padding: 25px 0;
  }
}

.form__row {
  @include outline-item;
  @include display-flex;
  margin: 5px;
}

.form__row--name {
  @include display-flex-column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__row--legend {
  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    width: 100px;
  }
}

//.form__cell {
//  width: 100%;
//}

//.form__cell--legend {
//  width: 100px;
//  height: 200px;
//}

.form__set {
  margin: 0;
  padding: 20px;
  border: none;
  border-top: 1px solid $turquoise;
}

.form__cell--legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $turquoise;
}

.form__cell--input {
  width: 40px;
}

.form__cell--description {
  padding-right: 40px;
}

.form__description {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black;
}

// ВНИМАНИЕ!!! Поле формы видимо не воспринимает transparentize!!!
// Вводимый текст тоже будет с прозрачностью!!!
.form__field {
  width: 100%;
  padding: 10px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  border: none;
  //color: transparentize($gray-dark, 0.7);
}

// CANIUSE!!!
.form__field::placeholder {
  color: transparentize($gray-dark, 0.7);
}

.form__field--addition {
  margin-bottom: 15px;
  color: transparentize($gray-dark, 0.6);
}

.form__field--phone {
  background: $white url("../../img/icon-phone.svg") no-repeat right 5px center;
}

.form__field--email {
  background: $white url("../../img/icon-mail.svg") no-repeat right 5px center;
}

.order__note {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $gray-dark;
}
