@import "../mixins.scss";
@import "../variables.scss";

.form__item {
  margin-bottom: 30px;
  @media (min-width: $tablet-width) {
    @include display-flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 180px 50px 50px;
  }
}

.form__item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    background-color: $gray-lightest;
  }
}

.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $turquoise;

  @media (min-width: $tablet-width) {
    width: 168px;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    text-align: center;
  }
}

.form__content {
  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form__item--color .form__content {
  @media (min-width: $tablet-width) {
    @include display-flex;
    flex-wrap: wrap;
  }
}

.form__item--color .form__element {
  @media (min-width: $tablet-width) {
    width: 50%;
  }
  @media (min-width: $desktop-width) {
    width: 33.33%;
  }
}

.form__description {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

// ВНИМАНИЕ!!! Поле формы видимо не воспринимает transparentize!!!
// Вводимый текст тоже будет с прозрачностью!!!
.form__field {
  //width: 100%;
  padding: 10px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  border: none;
  //color: transparentize($gray-dark, 0.7);
}

// CANIUSE!!!
.form__field::placeholder {
  color: transparentize($gray-dark, 0.7);
}

.form__field--addition {
  color: transparentize($gray-dark, 0.6);
}

.form__field--phone {
  background: $white url("../../img/icon-phone.svg") no-repeat right 5px center;
}

.form__field--email {
  background: $white url("../../img/icon-mail.svg") no-repeat right 5px center;
}

.order__note {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $gray-dark;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.order__submit {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}
