@import "../mixins.scss";
@import "../variables.scss";

.goods__wrapper {
  padding: 30px 30px 0 30px;
  background-color: $white;

  @media (min-width: $width-tablet) {
    padding: 91px 50px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 145px 50px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.goods__item-wrapper {
  margin-top: 30px;

  @media (min-width: $width-desktop) {
    display: flex;
    flex-direction: column;
  }
}

.goods__item {
  margin-bottom: 30px;
  border: 1px solid $gray-lightest;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 336px;
  }

  @media (min-width: $width-desktop) {
    flex-wrap: nowrap;
    align-items: stretch;
    width: 316px;
    height: auto;
    flex-grow: 1;
  }
}

.goods__item:last-of-type {
  margin-bottom: 0;
}

.goods__link {
  //@include outline-block;
  display: block;
  font-size: 0;
  text-decoration: none;
}

.goods__picture {
  width: 100%;
  height: auto;

  @media (min-width: $width-tablet) {
    display: block;
    width: 100%;
    align-self: stretch;
    height: auto;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    width: 316px;
    height: 462px;
  }
}

.goods__info {
  padding: 23px 30px 15px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
    width: 334px;
    padding: 23px 27px 15px;
  }

  @media (min-width: $width-desktop) {
    margin-top: auto;
  }
}

.goods__title {
  margin: 0 0 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;
}

.goods__title:hover {
  color: transparentize($black, 0.4);
}

//себе: то работает, то нет. Почему – хз.
.goods__title:active {
  color: transparentize($black, 0.7);
}

////а вот тут не совсем по БЭМ о_О
//.goods__link:active .goods__title {
//  color: transparentize($black, 0.7);
//}

.goods__description {
  margin: 0 0 30px;
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: $gray-dark;

  @media (min-width: $width-tablet) {
    margin-bottom: auto;
  }
}

.goods__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $gray-lighter;
}

.goods__price {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: $black;
}

.goods__cart {
  display: block;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  background: url("../img/icon-cart.svg") no-repeat center center;
}
