@import "../mixins.scss";
@import "../variables.scss";

.page-header__top {
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 78px;
  background-color: $white;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: block;
  width: 86px;
  margin-top: 20px;
}

.page-header__body {
  //padding-top: 70px;
  background: url("../../img/hero-mobile@1x.jpg") no-repeat center -18px;
}

.page-header__title {
  font-weight: bold;
  margin: 0;
  padding: 70px 0 75px 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  border: none;
}

.page-header__link {
  display: block;
  width: auto;
  margin: 0;
  padding: 24px 120px 30px 28px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  color: $white;
}

.page-header__link--interior {
  margin-top: 48px;
  padding-right: 200px;
  background: $turquoise url("../../img/icon-interior.svg") no-repeat right 35px center;
}

.page-header__link--toy {
  padding-right: 200px;
  background: $turquoise-darker url("../../img/icon-toy.svg") no-repeat right 27px center;
}
