@import "../mixins.scss";
@import "../variables.scss";

.page-header__wrapper {
  @include viewport-center;
}

.page-header__body {
  background-color: $gray-lightest;
  padding: 70px 0 75px;

  @include tablet {
    padding: 17px 50px 78px;
  }

  @include desktop {
    padding-bottom: 100px;
  }

  &--main {
    background: $white-almost url("../img/hero-mobile@1x.jpg") no-repeat center -18px;
    padding-bottom: 0;

    @include tablet {
      background: url("../img/TEST.jpg") no-repeat center 0;

      @include retina-resolution {
        background-image: url("../img/TEST-2x.jpg");
        background-size: auto;
      }
    }

    @include desktop {
      background: url("../img/hero-desktop@1x_made.jpg") no-repeat center 0;

      //@include retina-resolution {
      //  background-image: url("../img/TEST.jpg");
      //  background-size: cover;
      //}
    }
  }
}

.page-header__delivery-info {
  display: none;

  @include tablet {
    display: block;
    float: right;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: $gray-dark;
  }
}

.page-header__current--novelty,
.page-header__current--sale {
  display: none;

  @include desktop {
    display: inline;
    padding-right: 62px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: $black;
  }

  &:hover {
    color: transparentize($black, 0.4);
  }

  &:active {
    color: transparentize($black, 0.7);
  }
}

.page-header__title {
  font-weight: bold;
  margin: 0;
  padding: 0 30px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @include tablet {
    @include header-tablet;
    margin: 78px auto 0;
    padding: 0;
  }

  @include desktop {
    @include header-desktop;
    margin-top: 53px;
  }

  &--main {
    margin-bottom: 123px;

    @include tablet {
      margin: 136px 0 373px;
    }

    @include desktop {
      margin: 113px 0 359px;
    }
  }
}

.page-header__link-wrapper {
  position: relative;

  @include tablet {
    display: block;
  }
}

.page-header__link {
  display: block;
  width: auto;
  margin: 0;
  padding: 24px 120px 30px 28px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  color: $white;

  @include tablet {
    display: inline-block;
    width: 50%;
    padding: 28px 110px 35px 37px;
    font-size: 20px;
    line-height: 30px;
  }

  &--look-1 {
    background: $turquoise-light url("../img/icon-interior.svg") no-repeat right 37px center;

    &:hover {
      margin-top: -5px;
      padding: 19px 120px 40px 28px;
      //  еще надо сделать, чтобы картинка сдвигалась на 5px

      @include tablet {
        position: relative;
        top: -5px;
        margin-top: 0;
        padding: 23px 110px 40px 37px;
        background-color: $turquoise;
      }
    }

    &:active {
      color: transparentize($white, 0.7);
    }
  }

  &--look-2 {
    background: $turquoise-darker url("../img/icon-toy.svg") no-repeat right 27px center;

    @include tablet {
      position: relative;
      right: 0;
      background-position: right 33px center;
    }

    &:hover {
      margin-top: -5px;
      padding: 19px 120px 40px 28px;
      //  еще надо сделать, чтобы картинка сдвигалась на 5px

      @include tablet {
        position: relative;
        top: -5px;
        margin-top: 0;
        padding: 23px 110px 40px 37px;
        background-color: $turquoise-dark;
      }
    }

    &:active {
      color: transparentize($white, 0.7);
    }
  }
}
