@import "../mixins.scss";
@import "../variables.scss";

.main-nav {
  position: relative;
  // на случай, если есть встроенные по умолчанию. Если нет – убрать.
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 1px;
  right: 0;
  width: 81px;
  height: 78px;
  padding: 0;
  font-size: 0;
  background: $white url("../../img/icon-menu-open.svg") no-repeat center center;
  border: none;
  outline: none;

  @include tablet {
    display: none;
  }

  //@media (min-width: $width-tablet) {
  //  display: none;
  //}
}

// себе: смена логотипов мобильная -> планшет
.main-nav__logo-image {
  &--tablet {
    display: none;
  }

  @include tablet {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }
}

//себе: отключение МЕНЮ - будут отключаться ПУНКТЫ, а не само меню!
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $gray-lighter;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
}

.main-nav__item {
  border-top: 1px solid $gray-lighter;
  background-color: $white;

  //@media (min-width: $width-tablet) {
  //}

  &--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 0 22px;

    @media (min-width: $width-tablet) {
      padding: 22px 0 20px;
    }
  }

  &--novelty,
  &--sale {
    display: none;

    @media (min-width: $width-tablet) {
      &--logo {
        display: block;
        padding-top: 16px;
        padding-right: 28px;
        background-color: transparent;
        border: none;
      }
    }
  }
}

//.main-nav__toggle:active + .main-nav__list{
//  display: block;
//}

.main-nav__link {
  display: block;
  width: auto;
  padding: 26px 0 28px 76px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: $black;

  &--logo-link {
    display: block;
  }

  @media (min-width: $width-tablet) {
    padding: 30px 0 28px 0;
  }
}

.main-nav__link--catalog {
  @media (min-width: $width-tablet) {
    padding-top: 17px;
    font-size: 15px;
  }

  @media (min-width: $width-desktop) {
    font-size: 17px;
    padding: 30px 36px 33px 100px;
    margin-left: 0;
  }
}

.main-nav__item--order {
  @media (min-width: $width-desktop) {
    margin-right: 289px;
    border-right: none;
  }
}

.main-nav__link--order {
  @media (min-width: $width-tablet) {
    padding-top: 17px;
    font-size: 15px;
    padding-left: 40px;
  }

  @media (min-width: $width-desktop) {
    font-size: 17px;
    padding: 30px 35px 33px 36px;
  }
}

.main-nav__item--search {
  @media (min-width: $width-tablet) {
    order: -2;
    flex-grow: 0;
  }

  @media (min-width: $width-desktop) {
    flex-grow: 1;
  }
}

.main-nav__link--search {
  @media (min-width: $width-tablet) {
    padding-left: 41px;
    padding-right: 41px;
    font-size: 0;
  }

  &::before {
    display: inline-block;
    position: relative;
    top: 4px;
    left: -44px;
    width: 18px;
    height: 18px;
    margin-right: -18px;
    content: url("../../img/icon-search.svg");

    @media (min-width: $width-tablet) {
      left: 50%;
      top: 7px;
      margin-left: -9px;
    }
  }
}

.main-nav__item--cart {
  @media (min-width: $width-tablet) {
    order: -1;
  }

  @media (min-width: $width-desktop) {
    border-bottom: none;
  }
}

.main-nav__link--cart {
  @media (min-width: $width-tablet) {
    flex-grow: 1;
    padding: 30px 50px 33px 84px;
  }

  @media (min-width: $width-desktop) {
    padding: 30px 100px 33px 84px;
  }

  &::before {
    display: inline-block;
    position: relative;
    top: 4px;
    left: -46px;
    width: 24px;
    height: 24px;
    margin-right: -26px;
    content: url("../../img/icon-cart.svg");

    @media (min-width: $width-tablet) {
      left: -54px;
      margin-right: -32px;
    }
  }
}

.main-nav__link--novelty {
  display: inline;
  margin-left: 50px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

.main-nav__link--sale {
  display: inline;
  font-size: 15px;
  line-height: 24px;
}
