@import "../mixins.scss";
@import "../variables.scss";

.main-nav {
  position: relative;

  @include tablet {
    margin-bottom: -41px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.main-nav--opened .main-nav__toggle {
  @include mobile-only {
    background: $white url("../img/icon-menu-close.svg") no-repeat center center;
  }
}

.main-nav--opened .main-nav__item {
  @include mobile-only {
    display: block;
  }
}

.main-nav--closed .main-nav__toggle {
  @include mobile-only {
    background: $white url("../img/icon-menu-open.svg") no-repeat center center;
  }
}

.main-nav--closed .main-nav__item {
  @include mobile-only {
    display: none;
  }
}

.main-nav--closed .main-nav__item--logo {
  @include mobile-only {
    display: block;
  }
}

.main-nav--nojs .main-nav__toggle {
  @include mobile-only {
    display: none;
  }
}

.main-nav--nojs .main-nav__item {
  @include mobile-only {
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
  width: 82px;
  height: 78px;
  padding: 0;
  background-color: $white;
  border: none;
  cursor: pointer;
  outline: none;

  @include tablet {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid $gray-lighter;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }
}

.main-nav__item {
  border-bottom: 1px solid $gray-lighter;
  background-color: $white;

  &--logo {
    text-align: center;
    padding: 21px 0 22px;

    @include tablet {
      display: flex;
      align-items: center;
      width: 48%;
      justify-content: flex-start;
      flex-grow: 1;
      order: -3;
      padding: 0 0 0 48px;
    }

    @include desktop {
      width: 25%;
      padding-left: 75px;
    }
  }

  &--catalog {
    @include tablet {
      padding: 17px 0 0 50px;
      background-color: transparent;
      border: none;
    }

    @include desktop {
      order: -5;
      padding: 0;
      border-bottom: 1px solid $gray-lighter;
      background-color: $white;
    }
  }

  &--order {
    @include tablet {
      padding: 17px 0 0 36px;
      background-color: transparent;
      border: none;
    }

    @include desktop {
      order: -4;
      padding: 0;
      background-color: $white;
    }

    @include desktop {
      border-bottom: 1px solid $gray-lighter;
      border-left: 1px solid $gray-lighter;
    }
  }

  &--search {
    @include tablet {
      order: -2;
      border-left: 1px solid $gray-lighter;
    }
  }

  &--cart {
    @include tablet {
      order: -1;
      border-left: 1px solid $gray-lighter;
    }
  }
}
