@import "../mixins.scss";
@import "../variables.scss";

.order__wrapper {
  padding: 22px 30px 55px;
  background-color: $white;

  @include tablet {
    padding: 88px 0 0;
  }

  @include desktop {
    padding: 142px 0 0;
  }
}

.order .order__wrapper {
  @include tablet {
    margin-top: -10px;
  }

  @include desktop {
    margin-top: -26px;
  }
}

.order__intro {
  margin: 0 0 24px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $gray-dark;

  @media (min-width: $width-tablet) {
    margin: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 225px;
  }
}
