@import "../mixins.scss";
@import "../variables.scss";

.order-wrapper {
  padding: 23px 30px 55px;
  background-color: $white;

  @media (min-width: $width-tablet) {
    padding: 88px 0 0;
  }

  //@media (min-width: $width-desktop) {
  //  padding: 142px 100px 0;
  //}
}

.order__intro {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $gray-dark;

  @media (min-width: $width-tablet) {
    margin: 0 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 225px;
  }
}
