@import "../mixins.scss";
@import "../variables.scss";

.page-footer {
  background-color: $gray-lightest;
}

.page-footer__wrapper {
  @include viewport-center;
  padding: 0 30px;

  @include tablet {
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: none;

  @include tablet {
    align-self: flex-start;
    display: block;
    margin: 0 78px 0 0;
    cursor: pointer;
  }

  &[href]:hover .page-footer__logo-icon {
    fill: $turquoise-dark;
  }
}

.page-footer__logo[href] .page-footer__logo-icon:active {
  opacity: 0.3;
}

.page-footer__social {
  @include tablet {
    margin-top: 4px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding: 17px 0 22px;

  @include tablet {
    align-self: flex-end;
    margin-top: 3px;
    padding: 0;
  }

  @include desktop {
    margin-top: 0;
  }
}
