@import "../mixins.scss";
@import "../variables.scss";

.promo-goods__header {
  @include display-flex-column;
  //@include outline-block;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 89px;
    left: 138px;
    margin-top: 50px;
  }
}

.promo-goods__title {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $turquoise;

  @media (min-width: 768px) {
    width: 90px;
    text-align: center;
    vertical-align: top;
    line-height: 17px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    margin-right: 44px;
  }
  }

.promo-goods__item {
  order: -1;
  display: block;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @media (min-width: 768px) {
    @include header-tablet;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    @include header-desktop;
  }
}

.promo-goods__content {
  //@include outline-block;
  @media (min-width: $tablet-width) {
    width: 668px;
    height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 875px;
    height: 632px;
  }
}

.promo-goods__description {
  font-size: 15px;
  line-height: 24px;
  color: $gray-dark;

  @media (min-width: $tablet-width) {
    width: 292px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 160px;
  }
}

.promo-goods__properties {
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  color: $gray-dark;

  //@include outline-item;
}

.promo-goods__image {
  display: block;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    order: 1;
    align-self: flex-end;
    flex-basis: 100%;
    width: 50%;
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    width: 525px;
    align-self: flex-end;
  }
}

.promo-goods__price {
  display: block;
  margin: 22px auto 0;
  font-size: 17px;
  line-height: 24px;
  color: $gray-dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 22px 0 0;
  }
}

.promo-goods__button {
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    width: 292px;
  }
}

//для себя: не забыть про этот блок!
.promo-goods__buy {
  display: none;
}
