@import "variables.scss";

.promo__title {
  display: block;
  margin: 0;
  padding: 25px 0 25px 90px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  background: url("../../img/icon-video.svg") no-repeat 33px center;
  color: $black;
}

.promo__intro {
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $d-grey;
}
