@import "../mixins.scss";
@import "../variables.scss";

.promo-goods__wrapper {
  padding: 30px;
  background-color: $white;

  @include tablet {
    padding: 45px 50px 50px 50px;
  }

  @include desktop {
    min-height: 636px;
    padding: 88px 683px 73px 275px;
  }
}

.promo-goods__container {
  @include tablet {
    position: relative;
    min-height: 404px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.promo-goods__header {
  display: flex;
  flex-direction: column;
  //@include outline-block;

  @media (min-width: $width-tablet) {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 56px 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 0 0;
  }
}

.promo-goods__title {
  margin: 0 0 21px;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: $turquoise;

  @media (min-width: 768px) {
    flex-shrink: 1;
    margin: 12px 0 0;
    padding: 0 8px;
    text-align: center;
    vertical-align: bottom;
    line-height: 17px;
  }

  @media (min-width: $width-desktop) {
    margin-right: 44px;
  }
}

.promo-goods__item {
  order: -1;
  display: block;
  margin-bottom: 3px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @media (min-width: 768px) {
    margin: 0;
    @include header-tablet;
    flex-basis: 100%;
    flex-grow: 1;
  }

  @media (min-width: $width-desktop) {
    @include header-desktop;
    order: 0;
  }
}

.promo-goods__description {
  margin: 0 0 18px;
  font-size: 15px;
  line-height: 24px;
  color: $gray-dark;

  @include tablet {
    margin: -7px 378px 0 0;
    font-size: 17px;
    line-height: 30px;
    vertical-align: top;
  }

  @include desktop {
    width: 100%;
    margin-top: 160px;
  }
}

.promo-goods__properties {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 20px;
  color: $gray-dark;
  //@include outline-item;

  @include tablet {
    width: auto;
    margin-top: 3px;
    margin-right: 378px;
  }
}

.promo-goods__property-title {
  padding: 9px 15px 10px 0;
  border-bottom: 1px solid $gray-lighter;

  @include tablet {
    padding-right: 1px;
  }
}

.promo-goods__property-value {
  padding: 9px 0 10px;
  border-bottom: 1px solid $gray-lighter;

  @include tablet {
    padding-right: 1px;
  }
}

.promo-goods__image {
  margin-bottom: 26px;
  display: block;

  @media (min-width: $width-tablet) {
    position: absolute;
    bottom: 0px;
    right: 0;
    order: 1;
    width: 50%;
    height: auto;
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    width: 60%;
    align-self: flex-end;
  }
}

.promo-goods__price {
  display: block;
  margin: 0 auto 26px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $gray-dark;

  @include tablet {
    font-size: 20px;
    margin: 0 378px 0 0;
    align-self: center;
  }
}

.promo-goods__button {

  @include tablet {
    width: auto;
    margin: 0 378px 0 0;
    padding: 14px 50px;
  }
}
