@import "../mixins.scss";
@import "../variables.scss";

.promo__wrapper {
  @include viewport-center;
  padding: 31px 30px 58px 30px;
  background-color: $white;

  @media (min-width: $width-tablet) {
    padding: 53px 50px 63px;
  }

  @media (min-width: $width-desktop) {
    padding: 57px 50px 104px;
  }
}

.promo__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 33px 32px;
  border: 1px solid $gray-lighter;

  @include tablet {
    padding: 0 0 45px 0;
  }

  @media (min-width: $width-desktop) {
    display: block;
    padding: 0;

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  // "кнопка" проигрывания видео
  //&::before {
  //  position: absolute;
  //  content: url("");
  //}

  &:hover {
    box-shadow: 0 6px 10px transparentize($black, 0.9);
  }

  &:active {
    box-shadow: 0 3px 5px transparentize($black, 0.9);
  }
}

.promo__title {
  position: relative;
  order: -1;
  display: block;
  margin: 0 0 25px 0;
  padding: 23px 0 0 56px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $black;

  @include tablet {
    margin: 0 33px 32px 33px;
    padding: 39px 0 0 71px;
    font-size: 20px;
  }

  @include desktop {
    float: right;
    width: (100% * 2 / 6);
    padding: 95px 50px 0 60px;
    margin: 0 0 33px 0;
  }

  &::before {
    position: absolute;
    top: 29px;
    left: 0;
    content: url("../img/icon-video.svg");
    display: block;
    width: 32px;
    height: 22px;

    @include tablet {
      top: 33px;
      left: 8px;
    }

    @include desktop {
      top: 42px;
      left: 63px;
    }
  }
}

.promo__intro {
  margin: 0 0 25px 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: $gray-dark;

  @include tablet {
    margin: 0 33px 35px 39px;
    font-size: 15px;
    line-height: 30px;
  }

  @include desktop {
    float: right;
    width: (100% * 2 / 6);
    margin: 0 0 46px 0;
    padding: 0 50px 0 60px;
  }

  &--no-wrap {
    white-space: nowrap;
  }
}

.promo__video {
  width: 260px;
  height: 150px;
  margin: 0 0 26px -34px;
  //себе: чтобы видеть, где placeholder расположился
  background-color: red;

  @include tablet {
    width: 100%;
    height: auto;
    margin: 0;
    order: -1;
  }

  @media (min-width: $width-desktop) {
    float: left;
    width: 65%;
  }
}

.promo__write {
  @media (min-width: $width-tablet) {
    width: 584px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    float: right;
    clear: right;
    width: 230px;
    margin: 0 57px 59px 0;
  }
}
