@import "../mixins.scss";
@import "../variables.scss";

.reviews__wrapper {
  padding: 20px 30px 40px;
  background-color: $white;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 77px 50px 110px;
    background: $white url("../img/review@1x.jpg") no-repeat 0 0;
  }

  @include desktop {
    padding: 72px 50px 161px 225px;
    background-position: 50px 0;
  }
}

.reviews__title {
  margin: 0 0 23px -2px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @media (min-width: $width-tablet) {
    @include header-tablet;
    order: -2;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    @include header-desktop;
  }
}

.reviews__list {
  //@include outline-block;
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 47px;
  }

  @include desktop {
    padding-top: 45px;
    // для IE
    width: 100%;
  }
}

.reviews__item {
  padding: 0;
  margin: 0 0 27px;

  @media (min-width: $width-tablet) {
    flex-basis: 100%;
    margin-bottom: 0;
  }

  @media (min-width: $width-desktop) {
    //padding-right: 50px;
  }
}

.reviews__text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: $gray-dark;

  @media (min-width: $width-tablet) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 58px;
  }

  @media (min-width: $width-desktop) {
    padding-right: 80px;
    margin-bottom: 40px;
  }

  &--no-wrap {
    white-space: nowrap;
  }
}

.reviews__author-name {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: $black;

  @media (min-width: $width-tablet) {
    flex-basis: 45%;
  }
}

.reviews__author-link {
  display: block;
  margin: 3px 0 29px;
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: $gray-dark;

  @media (min-width: $width-tablet) {
    margin: 3px 0 0;
  }
}

.reviews__transition {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $width-tablet) {
    width: 176px;
    margin-bottom: 0;
  }
}

.reviews__switch {
  padding: 0;
  width: 50%;
  height: 52px;
  background-color: $white;
  border: 1px solid $gray-lightest;
  font-size: 0;

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.reviews__switch--prev {
  background: url("../img/icon-left-arrow.svg") no-repeat center center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }
}

.reviews__switch--next {
  background: url("../img/icon-right-arrow.svg") no-repeat center center;
  border-left: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.6;
  }
}

.reviews__write {
  @include tablet {
    order: -1;
    flex-basis: 175px;
    flex-shrink: 0;
    margin: 0;
  }

  @include desktop {
    margin-top: 8px;
  }
}
