@import "../mixins.scss";
@import "../variables.scss";

.social__title {
  display: none;
}

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px 62px 25px 57px;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid $gray-light;

  @include tablet {
    border-bottom: none;
    padding: 0;
  }
}

.social__item {
  display: block;

  @include tablet {
    margin-right: 37px;
  }

  &:last-child {
    @include tablet {
      margin-right: 0;
    }
  }
}

.social__link {
  display: block;
  width: 22px;
  height: 28px;
  font-size: 0;
}

.social__link--instagram {
  background: url("../img/icon-insta.svg") no-repeat center center;
}

.social__link--facebook {
  background: url("../img/icon-fb.svg") no-repeat center center;
}

.social__link--twitter {
  background: url("../img/icon-twitter.svg") no-repeat center center;
}
