@import "../mixins.scss";
@import "../variables.scss";

.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 25px 62px 25px 57px;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid $gray-light;

  @include tablet {
    border-bottom: none;
    padding: 0;
  }
}

.social__item {
  display: block;

  @include tablet {
    margin-right: 40px;
  }

  &:last-child {
    @include tablet {
      margin-right: 0;
    }
  }
}

.social__link {
  display: block;

  &:hover .social__icon {
    fill: $turquoise-dark;
  }
}

.social__icon:active {
  fill: $turquoise-dark;
  opacity: 0.3;
}
