//.tb = tempotary-block
//.te = temporary-element
//.ti = temporary-item

.temp-block {
  border: 1px solid red;
}

.temp-elem {
  border: 1px solid yellow;
}

temp-item {
  border: 1px solid green;
}
