@import "../mixins.scss";
@import "../variables.scss";

.wrapper {
  @include max-width;
  width: 320px;
  margin: 0 auto;
  font-size: 0;
  //outline: 1px solid red;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1150px;
  }
}
