@import "../mixins.scss";
@import "../variables.scss";

.wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $white;
  outline: 1px solid red;

  @include max-width;
  @include display-flex-column;
  @media (min-width: $tablet-width) {
    width: 768px;
  }
  @media (min-width: $desktop-width) {
    width: 1250px;
  }
}

.page-header__wrapper {
  //flex-wrap: wrap;
  background-color: $gray-lightest;
}

.promo-goods__wrapper {
  flex-wrap: wrap;
  padding: 30px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 30px 50px 50px;
  }
}

.about__wrapper {
  padding: 40px 30px 15px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 65px 50px 50px;
  }
}

.reviews__wrapper {
  padding: 30px;
  padding-bottom: 40px;
  background-color: $white;

  @include outline-block;
  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 77px 50px 115px;
    background: $white url("../../img/review@1x.jpg") no-repeat 0 0;
  }
}

.contacts__wrapper {
  padding: 40px 30px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 40px 50px;
  }
}

.page-footer__wrapper {
  background-color: $gray-lightest;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    height: 143px;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
