@mixin outline-block {
  outline: 2px solid #0d497e;
}

@mixin outline-item {
  outline: 2px dashed #58ff9a;
}

@mixin max-width {
  max-width: 1250px;
}

@mixin display-flex {
  display: flex;
}

@mixin display-flex-column {
  display: flex;
  flex-direction: column;
}

@mixin header-tablet {
  font-size: 43px;
  line-height: 50px;
}

@mixin header-desktop {
  font-size: 53px;
  line-height: 57px;
}
