@import "variables.scss";

@mixin tablet {
  @media (min-width: #{$width-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$width-desktop}) {
    @content;
  }
}

@mixin header-tablet {
  font-size: 43px;
  line-height: 50px;
}

@mixin header-desktop {
  font-size: 53px;
  line-height: 57px;
}

@mixin retina-resolution {
  @media (min-resolution: #{$retina-dpi}), (min-resolution: #{$retina-dppx}) {
    @content;
  }
}

@mixin viewport-center {
  max-width: 1250px;
  width: 320px;
  margin: 0 auto;
  font-size: 0;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1150px;
  }
}

// себе: вспомогательные, в конце - убрать!
@mixin outline-block {
  outline: 10px solid #7e1f1e;
}

@mixin outline-item {
  outline: 5px solid #2d7071;
}
