// My web colors
$white: #ffffff;
$white-almost: #f9f9f9;

$gray-dark: #444444;
$gray: #c6c6c6;
$gray-light: #e5e5e5;
$gray-lighter: #ececec;
$gray-lightest: #f1f1f1;

$black: #000000;

// hover & active look-2
$turquoise-dark: #46c1ae;
// main look-2
$turquoise-darker: #56c3b2;
// hover & active look-1
$turquoise: #59d5bc;
// main look-1
$turquoise-light: #63d1bb;

// My viewports
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;
