// My web colors
$white: #ffffff;

$gray-dark: #444444;
$gray-lighter: #ececec;
$gray-lightest: #f1f1f1;

$black: #000000;

$turquoise-darker: #56c3b2;
$turquoise: #63d1bb;

// My viewports
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1150px;
